<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <!-- <button mat-icon-button *ngIf="sidenav.open()" (click)="sidenav.toggle()"><mat-icon>arrow_back</mat-icon></button> -->
  
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashsettings"> 
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon> accounts
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashtransfers"> 
          <mat-icon mat-list-icon>compare_arrows</mat-icon> cash transfers
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>

  
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-3 mb-20">
        <mat-card>
          <h2 class="mat-title">Filter 
            <!-- <button mat-icon-button (click)="goToPrint()" color="warn"><mat-icon>print</mat-icon></button> 
            <a routerLink="/addinvoice" mat-mini-fab color="primary" matTooltip="Add new invoice!" class="pull-right"> 
              <mat-icon>add</mat-icon>
            </a> -->
          </h2>
          <h2 class="mat-caption mat-body-1">filter invoices</h2>
          <hr>
          <!-- <div class="subheading-1 subtitles mb-5">{{"Filter " | uppercase}}&nbsp; -->
            <!-- <span class="mat-body-1 grand-total">{{invoicesTotal | number}}</span> -->
          <!-- </div> -->
          <!-- <hr> -->
          <form [formGroup]="dateFilterForm">
            <mat-form-field>
              <input formControlName="fromdate" [formControl]="dateFilterForm.controls['fromdate']" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="From date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint class="hint-date">yyyy-mm-dd</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="todate" [formControl]="dateFilterForm.controls['todate']" (dateInput)="addEvent('input2', $event)" (dateChange)="addEvent('change2', $event)" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="To date">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-hint class="hint-date"><span>yyyy-mm-dd</span></mat-hint>
            </mat-form-field>
            <button class="mt-20" mat-icon-button color="warn" matTooltip="Clear!" (click)="clearFilters()"><mat-icon>undo</mat-icon></button>
          </form>
          <!-- <hr> -->
  <!--         <table class="mat-body-1 table-no-border table table-stripped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Created By</th>
                <th>Customer</th>
                <th># of items</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of allInvoices" (click)="getSingleInvoice(invoice)">
                <td>{{invoice.invoicenumber}}</td>
                <td>{{invoice.createdby.email}}</td>
                <td>{{invoice.invoicecustomer.name}}</td>
                <td>{{invoice.invoiceproducts.length}}</td>
                <td class="grand-total">{{invoice.invoicetotal | number}}</td>
              </tr>
            </tbody>
          </table> -->

        </mat-card>
      </div>
      <div class="col-md-9">
        <mat-card>
          <h2 class="mat-title">Invoices  
            <button mat-icon-button (click)="goToPrint()" color="warn"><mat-icon>print</mat-icon></button> 
            <a routerLink="/addinvoice" mat-mini-fab color="primary" matTooltip="Add new invoice!" class="pull-right"> 
              <mat-icon>add</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">List of all invoices
            <div class="subheading-1 pull-right subtitles mb-5">{{"total" | uppercase}}:&nbsp;
              <span class="mat-body-1 grand-total">{{invoicesTotal | number}}</span>
            </div>
          </h2>
          <hr>
          <!-- <hr> -->
<!--           <form [formGroup]="dateFilterForm">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input formControlName="fromdate" [formControl]="dateFilterForm.controls['fromdate']" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="From date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field>
                  <input formControlName="todate" [formControl]="dateFilterForm.controls['todate']" (dateInput)="addEvent('input2', $event)" (dateChange)="addEvent('change2', $event)" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="To date">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-1">
                <button mat-icon-button matTooltip="Clear!" (click)="clearFilters()"><mat-icon>undo</mat-icon></button>
              </div>
            </div>
          </form> -->
          <!-- <hr> -->
  <!--         <table class="mat-body-1 table-no-border table table-stripped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Created By</th>
                <th>Customer</th>
                <th># of items</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of allInvoices" (click)="getSingleInvoice(invoice)">
                <td>{{invoice.invoicenumber}}</td>
                <td>{{invoice.createdby.email}}</td>
                <td>{{invoice.invoicecustomer.name}}</td>
                <td>{{invoice.invoiceproducts.length}}</td>
                <td class="grand-total">{{invoice.invoicetotal | number}}</td>
              </tr>
            </tbody>
          </table> -->
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <mat-table [dataSource]="dataSource" matSort class="mat-body-1">

            <!-- Name Column -->
            <ng-container matColumnDef="invoicenumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.invoicenumber}}</mat-cell>
            </ng-container>

            <!-- Customer Column -->
            <ng-container matColumnDef="createdby">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Creator</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.createdby}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="challanno">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher#</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.challanno}}</mat-cell>
            </ng-container>



            <!-- Opening Balance Column -->
            <ng-container matColumnDef="invoicecustomer">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Customer</mat-header-cell>
              <mat-cell *matCellDef="let row" class="grand-total">{{row.invoicecustomer | capFilter}}</mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="productcount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                {{row.productcount | number}}
              </mat-cell>
            </ng-container>

            <!-- Bill NO -->
            <ng-container matColumnDef="billno">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Bill #</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span *ngIf="row.billno != null">{{row.billno}}</span>
                <span *ngIf="row.billno == null">&nbsp;</span>

              </mat-cell>
            </ng-container>

            <!-- Closing balance Column -->
            <ng-container matColumnDef="invoicenotes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Notes</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span *ngIf="row.invoicenotes != null">{{row.invoicenotes | capFilter}}</span>
                <span *ngIf="row.invoicenotes == null">&nbsp;</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="invoicetotal">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span>{{row.invoicetotal | number}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdat">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span *ngIf="row.invoicedate === null">{{row.createdat | date:'shortDate'}}</span>
                <span *ngIf="row.invoicedate !== null">{{row.invoicedate | date:'shortDate'}}</span>
              </mat-cell>

            </ng-container>

 <!--            <ng-container matColumnDef="createdat">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
              <mat-cell *matCellDef="let row" *ngIf="row.invoicedate"> 
                <span>{{row.invoicedate | date:'short'}}</span>
              </mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <!-- <button *ngIf="!row.found" mat-icon-button color="warn"><mat-icon>edit</mat-icon></button> -->
                <button mat-icon-button matTooltip="View!" color="warn" (click)="openLedgerDialog(row)"><mat-icon>assignment</mat-icon></button>
                <button mat-icon-button color="warn" [disabled]="row.found"><mat-icon>edit</mat-icon></button>
                <button *ngIf="authUser._id === 'admin'" mat-icon-button matTooltip="Remove!" color="warn" (click)="openDeleteDialog(row)"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- <mat-row (click)="getSingleInvoice(row)" *matRowDef="let row; columns: displayedColumns;">
            </mat-row> -->
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

          </mat-table>

          <mat-paginator class="mat-body-1" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>