
<div *ngIf="data.dcref === 'invoice'" mat-dialog-content>
  <div class="subtitles subheading-1 mat-body-1">{{"invoice #" | uppercase}}&nbsp;
    <span class="mat-body-1 grand-total" matTooltip="Invoice Number">{{data.info.invoicenumber}}</span>
  </div>
  <div *ngIf="data.info.challanno !== null" class="subtitles subheading-1 mt-5">{{"Voucher #" | uppercase}}&nbsp;
    <span class="mat-body-1 grand-total" matTooltip="Voucher #">{{data.info.challanno}}</span>
  </div>
  <div *ngIf="data.info.billno !== null" class="subtitles subheading-1 mt-5">{{"bill #" | uppercase}}&nbsp;
    <span class="mat-body-1 grand-total" matTooltip="Bill #">{{data.info.billno}}</span>
  </div>
  <div class="subtitles subheading-1 mt-5">{{"customer" | uppercase}}:&nbsp;
    <span class="mat-body-1 grand-total" matTooltip="Customer">{{data.info.invoicecustomer.name}}</span>
  </div>
  <div *ngIf="data.info.invoicedate !== null" class="subtitles subheading-1 mt-5">{{"date" | uppercase}}:&nbsp;
    <span class="mat-body-1 grand-total" matTooltip="Date">{{data.info.invoicedate | date:'fullDate'}}</span>
  </div>
  <div *ngIf="data.info.invoicedate === null" class="subtitles subheading-1 mt-5">{{"date" | uppercase}}:&nbsp;
    <span class="mat-body-1 grand-total" matTooltip="Date">{{data.info._id | date:'fullDate'}}</span>
  </div>
  <hr>
  <table class="mat-body-1 table-no-border table table-stripped table-hover table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Qty</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Store</th>
        <th>Weight</th>
        <th>Calc Weight</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr class="mat-cell" *ngFor="let item of data.info.invoiceproducts; let i=index;">
        <td>{{i+1}}</td>
        <td>{{item.cartquantity | number:'1.0-1'}}</td>
        <td>{{item.name}}</td>
        <td>{{item.categoryname}}</td>
        <td>{{item.cartstores.name}}</td>
        <td *ngIf="item.type != 'Single Unit'">{{item.cartweight | number:'1.1-2'}}</td>
        <td *ngIf="item.type == 'Single Unit'">&nbsp;</td>
        <td *ngIf="item.type != 'Single Unit'">{{item.calcweight | number:'1.1-2'}}</td>
        <td *ngIf="item.type == 'Single Unit'">&nbsp;</td>
        <td>{{item.cartprice | number:'1.1-2'}}</td>
        <td>{{item.cartworth | number:'1.1-2'}}</td>
      </tr>
      
    </tbody>
  </table>
  <hr>
  <h6 *ngIf="data.info.othercharges !== null">Other Charges: {{data.info.othercharges | number:'1.1-2'}}</h6>
  <h6 *ngIf="data.info.othercharges !== null">Purchase Total: {{data.info.invoicetotal - data.info.othercharges | number:'1.1-2'}}</h6>
  <h6 *ngIf="data.info.othercharges === null">Grand Total: {{data.info.invoicetotal | number:'1.1-2'}}</h6>
  <textarea matInput placeholder="Invoice Notes" value="{{data.info.invoicenotes}}" disabled="disabled"></textarea>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-raised-button color="warn" (click)="onYesClick(data.info)"><mat-icon>print</mat-icon> Print</button>
  <!-- <button mat-raised-button color="primary" [mat-dialog-close]="data.info" cdkFocusInitial>OK</button> -->
</div>
