<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <!-- <button mat-icon-button *ngIf="sidenav.open()" (click)="sidenav.toggle()"><mat-icon>arrow_back</mat-icon></button> -->
  
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashsettings"> 
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon> accounts
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashtransfers"> 
          <mat-icon mat-list-icon>compare_arrows</mat-icon> cash transfers
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-grid-list cols="12">
    <div class="example-scrolling-content" *ngIf="addReceiptFlag">
      <div class="row">
        <div class="col-md-3">

          <mat-card *ngIf="!addCustomerFlag && !addAccountFlag" class="mb-20">
            <h2 class="mat-title">  
              Add Details
            </h2>
            <h2 class="mat-caption mat-body-1">enter receipt details</h2>
            <hr>

            <form [formGroup]="addReceiptForm" (ngSubmit)="makeReceipt(addReceiptForm.value)">
              
              <mat-form-field class="example-full-width">
                <mat-select (change)="accountTypeChange($event.value)" placeholder="Select Account Type" [formControl]="addReceiptForm.controls['cashtype']" ngDefaultControl>
                  <mat-option *ngFor="let value of allTypes" [value]="value.type">
                    {{value.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Customer" aria-label="State" [matAutocomplete]="auto2" [formControl]="addReceiptForm.controls['customer']">
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option (onSelectionChange)="selectCustomer(state)" *ngFor="let state of customerStates | async" [value]="state.name">
                    <span>{{ state.name }}</span> |
                    <small>{{state.address}}</small>
                  </mat-option>
                </mat-autocomplete>
                <mat-hint *ngIf="selectedCustomer !== null">Customer: {{selectedCustomer.name}}</mat-hint>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Account" aria-label="State" [matAutocomplete]="auto3" [formControl]="addReceiptForm.controls['account']">
                <mat-autocomplete #auto3="matAutocomplete">
                  <mat-option (onSelectionChange)="selectAccount(state)" *ngFor="let state of accountStates | async" [value]="state.name">
                    <span>{{ state.name }}</span> |
                    <!-- <small>{{state.address}}</small> -->
                  </mat-option>
                </mat-autocomplete>
                <mat-hint *ngIf="selectedAccount !== null">Account: {{selectedAccount.name}}</mat-hint>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                  <input matInput formControlName="paymentdate" [formControl]="addReceiptForm.controls['paymentdate']" (dateChange)="paymentDateChange($event)" [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-hint class="hint-date">e.g. yyyy-mm-dd</mat-hint>
              </mat-form-field>


              <hr>
              <mat-radio-group (change)="getReceiptType($event)" class="example-radio-group" formControlName="receipttype" [formControl]="addReceiptForm.controls['receipttype']">
                <mat-radio-button class="example-radio-button" *ngFor="let type of receiptTypes" [value]="type.type">
                  {{type.name}}
                </mat-radio-button>
              </mat-radio-group>
              <hr>
              
              <mat-form-field class="example-full-width" *ngIf="addReceiptForm.controls['receipttype'].value === 'invoice'">
                <input matInput aria-label="State" placeholder="Select Purchase" [matAutocomplete]="auto4" [formControl]="addReceiptForm.controls['invoiceref']">
                <mat-autocomplete #auto4="matAutocomplete">
                  <mat-option (onSelectionChange)="selectInvoice(state)" *ngFor="let state of invoiceStates | async" [value]="state.purchasenumber">
                    <span>{{ state.purchasenumber }}</span> |
                    <small class="grand-total">{{state.purchasetotal | number}}</small>
                  </mat-option>
                </mat-autocomplete>
                <mat-hint *ngIf="selectedPurchase !== null">Invoice: {{paymentToSave.purchaseref?.purchasenumber}}</mat-hint>
              </mat-form-field>



              <mat-form-field class="example-full-width" *ngIf="addReceiptForm.controls['receipttype'].value === 'bpcc'">
                <input matInput placeholder="Select Reference Account" aria-label="State" [matAutocomplete]="auto5" [formControl]="addReceiptForm.controls['customeraccref']">
                <mat-autocomplete #auto5="matAutocomplete">
                  <mat-option (onSelectionChange)="selectReferenceAccount(state)" *ngFor="let state of customerAccountStates | async" [value]="state.name">
                    <span>{{ state.name }}</span> |
                    <!-- <small>{{state.address}}</small> -->
                  </mat-option>
                </mat-autocomplete>
                <mat-hint *ngIf="selectedRefAccount !== null">Ref. Acc: {{selectedRefAccount.name}} | <span class="grand-total">{{selectedRefAccount.remainbalance | number}}</span></mat-hint>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Voucher #" type="text" formControlName="voucherno" [formControl]="addReceiptForm.controls['voucherno']">
                <!-- <mat-error *ngIf="addReceiptForm.controls['name'].invalid"><strong>Voucehr #</strong> Is Required</mat-error> -->
              </mat-form-field>



            <!-- <button mat-raised-button type="submit">Update</button> -->
            </form>
            <mat-form-field class="example-full-width">
              <textarea matInput [(ngModel)]="paymentNotes" placeholder="Payment Notes"></textarea>
            </mat-form-field>

          </mat-card>

          <mat-card class="mb-20" *ngIf="addCustomerFlag && !addAccountFlag">
            <h2 class="mat-title">Add Customer
              <button mat-icon-button (click)="showReceiptForm()" color="primary" class="pull-right"><mat-icon>cancel</mat-icon></button>
            </h2>
            <h2 class="mat-caption mat-body-1">Add a new customer</h2>
            <form [formGroup]="addCustomerForm" (ngSubmit)="addCustomer(addCustomerForm.value)" >
              <div class="example-container">
                
                <mat-form-field>
                  <input matInput placeholder="Enter Customer Name" type="text" formControlName="name" [formControl]="addCustomerForm.controls['name']">
                  <mat-error *ngIf="addCustomerForm.controls['name'].invalid"><strong>Name</strong> Is Required</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                  <input matInput placeholder="Enter Customer Address" type="text" formControlName="address" [formControl]="addCustomerForm.controls['address']">
                  <mat-error *ngIf="addCustomerForm.controls['address'].invalid">Address Is Required</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                  <input matInput placeholder="Enter Customer Email" type="email" formControlName="email" [formControl]="addCustomerForm.controls['email']">
                  <mat-error *ngIf="addCustomerForm.controls['email'].invalid">E-mail Is Required</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                  <input matInput placeholder="Enter Customer Phone" type="text" formControlName="phone" [formControl]="addCustomerForm.controls['phone']">
                  <mat-error *ngIf="addCustomerForm.controls['phone'].invalid"><strong>Price</strong> Is Required</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                  <input matInput placeholder="Enter Customer Fax" type="text" formControlName="fax" [formControl]="addCustomerForm.controls['fax']">
                  <mat-error *ngIf="addCustomerForm.controls['fax'].invalid"><strong>Fax</strong> Is Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter Opening Balance" type="number" formControlName="openingbalance" [formControl]="addCustomerForm.controls['openingbalance']">
                  <mat-error *ngIf="addCustomerForm.controls['openingbalance'].invalid"><strong>Opening Balance</strong> Is Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Select Balance Type" formControlName="obtype" [formControl]="addCustomerForm.controls['obtype']" ngDefaultControl>
                    <mat-option *ngFor="let item of balanceTypes" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="addCustomerForm.controls['obtype'].invalid"><strong>Balance Type</strong> Is Required</mat-error>
                </mat-form-field>

                <button [disabled]="!addCustomerForm.valid" mat-raised-button color="primary"><mat-icon>add</mat-icon> Add</button>
                
              </div>
            </form>
          </mat-card>

          <mat-card class="mb-20" *ngIf="addAccountFlag && !addCustomerFlag">
            <h2 class="mat-title">Add Account
              <button mat-icon-button (click)="showReceiptForm()" color="primary" class="pull-right"><mat-icon>cancel</mat-icon></button>
            </h2>
            <h2 class="mat-caption mat-body-1">add a new account</h2>
            <hr>
            <form (ngSubmit)="addAccountType(addAccountTypeForm.value, $event)" [formGroup]="addAccountTypeForm" #myForm="ngForm">
              <div class="example-container">

                <mat-form-field>
                  <input matInput placeholder="Enter Account Name" type="text" formControlName="name" [formControl]="addAccountTypeForm.controls['name']">
                  <mat-error *ngIf="addAccountTypeForm.controls['name'].invalid">Name Is Required</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-select (change)="typeChange($event.value)" placeholder="Select Account Type" [formControl]="addAccountTypeForm.controls['accounttype']" formControlName="accounttype" ngDefaultControl>
                    <mat-option *ngFor="let value of allAccTypes" [value]="value.type">
                      {{value.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-hint *ngIf="selectedCustomer != null">Selected Customer: {{selectedCustomer.name | uppercase}}</mat-hint>
                <mat-form-field class="example-full-width"  *ngIf="addAccountTypeForm.controls['accounttype'].value === 'parchi' || addAccountTypeForm.controls['accounttype'].value === 'post_dated_cheque' || addAccountTypeForm.controls['accounttype'].value === 'cheque' || addAccountTypeForm.controls['accounttype'].value === 'card'">
                  <input matInput placeholder="Enter Customer" aria-label="State" [matAutocomplete]="auto2" [formControl]="addAccountTypeForm.controls['customer']">
                  <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option (onSelectionChange)="selectAccCustomer(state)" *ngFor="let state of accCustomerStates | async" [value]="state.name">
                      <span>{{ state.name }}</span> |
                      <small>{{state.address}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field  *ngIf="addAccountTypeForm.controls['accounttype'].value === 'parchi' || addAccountTypeForm.controls['accounttype'].value === 'post_dated_cheque' || addAccountTypeForm.controls['accounttype'].value === 'cheque' || addAccountTypeForm.controls['accounttype'].value === 'card'">
                  <input matInput placeholder="Enter Reference Number" type="text" formControlName="refnumber" [formControl]="addAccountTypeForm.controls['refnumber']">
                  <mat-error *ngIf="addAccountTypeForm.controls['refnumber'].invalid"><strong>Reference #</strong> Is Required</mat-error>
                </mat-form-field>


                <mat-form-field *ngIf="addAccountTypeForm.controls['accounttype'].value === 'bank'">
                  <input matInput placeholder="Enter Account Number" type="text" formControlName="accountnumber" [formControl]="addAccountTypeForm.controls['accountnumber']">
                  <mat-error *ngIf="addAccountTypeForm.controls['accountnumber'].invalid">Account Number Is Required</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Enter Opening Balance" type="number" formControlName="openingbalance" [formControl]="addAccountTypeForm.controls['openingbalance']">
                  <mat-error *ngIf="addAccountTypeForm.controls['openingbalance'].invalid">Opening Balance Number Is Required</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Select Balance Type" formControlName="obtype" [formControl]="addAccountTypeForm.controls['obtype']" ngDefaultControl>
                    <mat-option *ngFor="let item of balanceTypes" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="addAccountTypeForm.controls['accounttype'].value === 'parchi' || addAccountTypeForm.controls['accounttype'].value === 'post_dated_cheque' || addAccountTypeForm.controls['accounttype'].value === 'cheque' || addAccountTypeForm.controls['accounttype'].value === 'card'">
                  <input formControlName="expirydate" [formControl]="addAccountTypeForm.controls['expirydate']" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="addAccountTypeForm.controls['accounttype'].value === 'parchi' || addAccountTypeForm.controls['accounttype'].value === 'post_dated_cheque' || addAccountTypeForm.controls['accounttype'].value === 'cheque' || addAccountTypeForm.controls['accounttype'].value === 'card'">
                  <input matInput placeholder="Voucher #" type="text" formControlName="voucherno" [formControl]="addAccountTypeForm.controls['voucherno']">
                  <!-- <mat-error *ngIf="addReceiptForm.controls['name'].invalid"><strong>Voucehr #</strong> Is Required</mat-error> -->
                </mat-form-field>

                <button [disabled]="!addAccountTypeForm.valid" mat-raised-button type="submit" color="primary">
                  <mat-icon>add</mat-icon> <span>Add</span>
                </button>
              </div>          
            </form>
          </mat-card>
          <button mat-raised-button color="primary" (click)="enableAddCustomerFlag()"><mat-icon>add</mat-icon>Customer</button>
          <button mat-raised-button color="primary" (click)="enableAddAccountFlag()"><mat-icon>add</mat-icon>Account</button>

        </div>
        <div class="col-md-9">
          <mat-card>
            <h2 class="mat-title">  
              Payment Details
              <button mat-mini-fab class="pull-right" matTooltip="Go Back!" color="primary" (click)="hideAddReceipt()"><mat-icon>arrow_back</mat-icon></button>
            </h2>
            <h2 class="mat-caption mat-body-1">enter payment details</h2>
            <button mat-raised-button color="warn" (click)="addPurchasePayment()" [disabled]="!addReceiptForm.valid || paymentToSave.paymentamount == null"><mat-icon>send</mat-icon> Save</button>
            <hr>
            <table class="mat-body-1 table-no-border table table-stripped table-hover table-responsive">
              <thead>
                <tr>
                  <th>Payment #</th>
                  <th>Customer</th>
                  <th>Payment Type</th>
                  <th>Payment Account</th>
                  <th>Amount Paid</th>
                  <th>Purchase #</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngIf="paymentToSave">
                  <td>{{paymentToSave.paymentnumebr}}</td>
                  <td>{{paymentToSave.paymentcustomer?.name}}</td>
                  <td>{{paymentToSave.paymentaccount?.accounttype}}</td>
                  <td>{{paymentToSave.paymentaccount?.name}}</td>
                  <td><input (keyup)="changePrice($event)" matInput type="number" [(ngModel)]="paymentToSave.paymentamount" value="{{paymentToSave.paymentamount}}" /></td>
                  <td>{{paymentToSave.purchaseref?.purchasenumber}}</td>

<!--                   <td>            
                    <mat-form-field class="example-full-width">
                      <input matInput aria-label="State" [matAutocomplete]="auto4" [formControl]="addReceiptForm.controls['invoiceref']">
                      <mat-autocomplete #auto4="matAutocomplete">
                        <mat-option (onSelectionChange)="selectInvoice(state)" *ngFor="let state of invoiceStates | async" [value]="state.invoicenumber">
                          <span>{{ state.invoicenumber }}</span> |
                          <small class="grand-total">{{state.invoicetotal | number}}</small>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </td>  -->                 
                </tr>
              </tbody>
            </table>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="example-scrolling-content" *ngIf="!addReceiptFlag">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">  
              Payments 
              <button mat-mini-fab class="pull-right" matTooltip="Add new payment!" color="primary" (click)="showAddReceipt()"><mat-icon>add</mat-icon></button>
            </h2>
            <h2 class="mat-caption mat-body-1">list of all payment(s)</h2>
            
            <hr>
<!--             <table class="mat-body-1 table-no-border table table-stripped table-hover table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>ID</th>
                  <th>Customer</th>
                  <th>Type</th>
                  <th>Account</th>
                  <th>Amount Paid</th>
                  <th>Purchase Ref.</th>
                  <th>Account Ref.</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of allPayments; let i=index;">
                  <td>{{i}}</td>
                  <td>{{item.paymentnumebr}}</td>
                  <td>{{item.paymentcustomer?.name}}</td>
                  <td>{{item.paymentaccount?.accounttype}}</td>
                  <td>{{item.paymentaccount?.name}}</td>
                  <td>{{item.paymentamount}}</td>
                  <td>{{item.purchaseref?.purchasenumber}}</td>
                  <td>{{item.accountref?.name}}</td>
                </tr>
              </tbody>
            </table> -->
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
            <mat-table [dataSource]="dataSource" matSort class="mat-body-1">

              <!-- Name Column -->
              <ng-container matColumnDef="paymentnumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.paymentnumber | capFilter}}</mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="voucherno">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher #</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.voucherno | capFilter}}</mat-cell>
              </ng-container>


              <!-- Customer Column -->
              <ng-container matColumnDef="customername">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Customer</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.customername | capFilter}}</mat-cell>
              </ng-container>



              <!-- Opening Balance Column -->
              <ng-container matColumnDef="paymentaccounttype">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                <mat-cell *matCellDef="let row" class="grand-total">{{row.paymentaccounttype | capFilter}}</mat-cell>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="paymentaccountname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Account</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  {{row.paymentaccountname | capFilter}}
                </mat-cell>
              </ng-container>

              <!-- Closing balance Column -->
              <ng-container matColumnDef="paymentamount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Amount Paid</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span>{{row.paymentamount | number}}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="paymentnotes">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Notes</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span>{{row.paymentnotes}}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="purchaserefnumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Ref.</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span>{{row.purchaserefnumber}}</span>
                </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <button mat-icon-button color="warn" matTooltip="Print!" (click)="goToPrint(row)"><mat-icon>print</mat-icon></button>
                  <button mat-icon-button color="warn" matTooltip="Delete!" (click)="openDeleteDialog(row)"><mat-icon>delete</mat-icon></button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="datetime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date/Time</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span *ngIf="row.paymentdate === null">{{row._id | date:'short'}}</span>
                  <span *ngIf="row.paymentdate !== null">{{row.paymentdate | date:'short'}}</span>
                </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="accountrefname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Acc. Ref.</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span *ngIf="row.accountrefname !== null">{{row.accountrefname | capFilter}}</span>
                  <span *ngIf="row.accountrefname === null">&nbsp;</span>
                </mat-cell>
              </ng-container>




              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
              <!-- <mat-row (click)="checkCustomerDebitCredit(row)" *matRowDef="let row; columns: displayedColumns;">
              </mat-row> -->

              

            </mat-table>

            <mat-paginator class="mat-body-1" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-grid-list>
</mat-sidenav-container>