<!-- <mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon>Menu</button>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title">Dewan International</span>
  <mat-icon matTooltip="Logout!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

    <div class="sidenav-content">
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Inward Gate Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Outward Gate Pass
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab mat-button" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
    <div class="example-scrolling-content">
      <div class="row">
        
        <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">Accounts Ledger  
              <a routerLink="/admindashboard" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right"> 
                <mat-icon>arrow_back</mat-icon>
              </a>
            </h2>
            <h2 class="mat-caption mat-body-1">List of all accounts</h2>
            <button mat-raised-button color="warn" (click)="updateAccountsLedger()"> Save Ledger</button>
            <hr>
            <table class="mat-body-1 table-no-border table table-stripped table-hover table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Account Type</th>
                  <th>Opening Balance</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let account of accountsToUpdate; let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{account.name}}</td>
                  <td *ngIf="account.accounttype === 'bank'">Bank</td>
                  <td *ngIf="account.accounttype === 'cash'">Cash</td>
                  <td *ngIf="account.accounttype === 'post_dated_cheque'">Post Dated Cheques</td>
                  <td *ngIf="account.accounttype === 'written_doc'">Written Docs</td>
                  <td *ngIf="account.accounttype === 'card'">Card</td>
                  <td *ngIf="account.accounttype === 'cheques'">Cheques</td>
                  <td><mat-form-field><input matInput type="number" [(ngModel)]="account.balance" (change)="changeBalance(account.balance, account)" value="{{account.balance}}" /></mat-form-field></td>
                  <td>              
                    <mat-form-field>
                      <mat-select placeholder="Select Type" [(ngModel)]="account.type" ngDefaultControl>
                        <mat-option *ngFor="let item of balanceTypes" [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card>
        </div>
      </div>
    </div>
</mat-sidenav-container> -->
        <mat-card *ngIf="selectedAccount?.accounttype === 'cash' || selectedAccount?.accounttype === 'bank'">
          <h2 class="mat-title">{{selectedAccount?.name | uppercase}}
            <a href="#/cashsettings" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right"> 
              <mat-icon>arrow_back</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">details of all debit/credit(s)</h2>
          <hr>
          <div class="subheading-1 subtitles mb-5">{{"account name" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.name}}</span>
          </div>
          <div class="subheading-1 subtitles mb-5">{{"account #" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.accountnumber}}</span>
          </div>

          <div class="subheading-1 subtitles mb-5">{{"Opening Balance" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.openingbalance | number}}</span>
          </div>

          <div class="subheading-1 subtitles mb-5">{{"closing Balance" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.closingbalance | number}}</span>
          </div>

          <hr>
          <table class="mat-body-1 table-no-border table table-stripped table-hover table-responsive">
            <thead>
              <tr>
                <!-- <th>#</th> -->
                <th>Date/Time</th>
                <th>Ref. Type</th>
                <th>Ref. #</th>
                <th>Voucher #</th>
                <th>Customer</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Closing Balance</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allDebitCredits">
                <!-- <td>{{i+1}}</td> -->
                <td>{{item.dcrefdate | date:'shortDate'}}</td>
                <td>{{item.dctype | capFilter}}</td>
                <td>{{item.dcref}}</td>
                <td *ngIf="item.voucherno">{{item.voucherno}}</td>
                <td *ngIf="!item.voucherno">&nbsp;</td>
                <td>{{item.customer.name}}</td>
                <td *ngIf="item.debit === null">&nbsp;</td>
                <td *ngIf="item.debit !== null">{{item.debit | number}}</td>
                <td *ngIf="item.credit === null">&nbsp;</td>
                <td *ngIf="item.credit !== null">{{item.credit | number}}</td>
                <td>{{item.closingbalance | number}}</td>
                <td *ngIf="item.status === 'credit'">Credit</td>
                <td *ngIf="item.status === 'debit'">Debit</td>
              </tr>
            </tbody>
            <hr>
          </table>
      </mat-card>

      <mat-card  *ngIf="(selectedAccount?.accounttype === 'parchi' || selectedAccount?.accounttype === 'card' || selectedAccount?.accounttype === 'cheque' || selectedAccount?.accounttype === 'post_dated_cheque')">
          <h2 class="mat-title">{{selectedAccount?.name | uppercase}}  
            <a href="#/cashsettings" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">details of selected account</h2>
          <hr>
          <div class="subheading-1 subtitles mb-5">{{"Customer" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.customer.name | capFilter}}</span>
          </div>
          <div class="subheading-1 subtitles">{{"Opening Balance" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.openingbalance | number}}</span>
          </div>
          <div class="subheading-1 subtitles mt-5">{{"closing Balance" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.remainbalance | number}}</span>
          </div>
          <div class="subheading-1 subtitles mt-5">{{"Due Date" | uppercase}}:&nbsp;
            <span class="mat-body-1">{{selectedAccount?.expirydate | date:'fullDate' | capFilter}}</span>
          </div>
          <div class="subheading-1 subtitles mt-5" *ngIf="selectedAccount?.voucherno">{{"voucher #" | uppercase}}:&nbsp;
            <span class="mat-body-1">{{selectedAccount?.voucherno | capFilter}}</span>
          </div>
          <mat-chip-list *ngIf="selectedAccount?.expirystatus === 'process'">
            <mat-chip matTooltip="Acc. is updated!" class="mt-20" color="warn" selected="true">Updated</mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="selectedAccount?.expirystatus === 'pending'">
            <mat-chip matTooltip="Acc. is pending!" class="mt-20" color="accent" selected="true">Pending</mat-chip>
          </mat-chip-list>
          <hr>
          <h2 class="mat-title">
            Other Reference Account(s)
          </h2>
          <hr>
          <table class="mat-body-1 table-no-border table-stripped table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Start Balance</th>
                <th>Remain Balance</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allRefAccounts; let i=index;">
                <td>{{i + 1}}</td>
                <td>{{item.name}}</td>
                <td class="grand-total">{{item.openingbalance | number}}</td>
                <td class="grand-total">{{item.remainbalance | number}}</td>
                <td *ngIf="item.expirystatus === 'process'">
                  <mat-chip-list>
                    <mat-chip matTooltip="Acc. is updated!" color="primary" selected="true">Updated</mat-chip>
                  </mat-chip-list>
                </td>
                <td *ngIf="item.expirystatus === 'pending'">
                  <mat-chip-list>
                    <mat-chip matTooltip="Acc. is pending!" color="accent" selected="true">Pending</mat-chip>
                  </mat-chip-list>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card>