<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <!-- <button mat-icon-button *ngIf="sidenav.open()" (click)="sidenav.toggle()"><mat-icon>arrow_back</mat-icon></button> -->
  
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashsettings"> 
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon> accounts
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashtransfers"> 
          <mat-icon mat-list-icon>compare_arrows</mat-icon> cash transfers
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>

  
    <div class="example-scrolling-content mat-body-1">
      <mat-card>
        <h2 class="mat-title">Outward Gate Pass  
          <a routerLink="/addoutwardpass" mat-mini-fab color="primary" matTooltip="Add new Gate Pass!" class="pull-right"> 
          <!-- (click)="addInvoice()"> -->
            <mat-icon>add</mat-icon>
          </a>
        </h2>
        <h2 class="mat-caption mat-body-1">List of all outward gate pass</h2>
        <hr>
<!--         <table class="mat-body-1 table-no-border table table-stripped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date/Time</th>
              <th>Created By</th>
              <th>Vendor</th>
              <th># of items</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pass of allOutwardpass" (click)="showOutwardPass(pass)">
              <td>{{pass.outwardpassnumber}}</td>
              <td>{{pass._id | date:'short'}}</td>
              <td>{{pass.createdby.email}}</td>
              <td>{{pass.outwardpasscustomer.name}}</td>
              <td>{{pass.outwardpassproducts.length}}</td>
              <td *ngIf="pass.converted === false"><button matTooltip="Convert to invoice!" mat-icon-button color="primary" (click)="getSingleOutwardpass(pass._id)"><mat-icon>cached</mat-icon></button></td>
              <td *ngIf="pass.converted === true"><button matTooltip="Already Converted!" mat-icon-button color="warn"><mat-icon>cached</mat-icon></button></td>
            </tr>
          </tbody>
        </table> -->
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table [dataSource]="dataSource" matSort class="mat-body-1">

          <!-- Name Column -->
          <ng-container matColumnDef="outwardpassnumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.outwardpassnumber}}</mat-cell>
          </ng-container>

          <!-- Customer Column -->
          <ng-container matColumnDef="vendor">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.vendor}}</mat-cell>
          </ng-container>



          <!-- Opening Balance Column -->
          <ng-container matColumnDef="productcount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Items Count</mat-header-cell>
            <mat-cell *matCellDef="let row" class="grand-total">{{row.productcount | number}}</mat-cell>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="converted">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let row"> 
              <!-- {{row.converted}} -->
              <span *ngIf="row.converted === true">
                <mat-chip-list>
                  <mat-chip color="primary" selected="true">{{"Converted" | uppercase}}</mat-chip>
                </mat-chip-list>
              </span>
              <span *ngIf="row.converted === false">
                <mat-chip-list>
                  <mat-chip (click)="getSingleOutwardpass(row._id)" color="accent" selected="true">{{"Convert" | uppercase}}</mat-chip>
                </mat-chip-list>
              </span>

            </mat-cell>
          </ng-container>

          <!-- Closing balance Column -->
<!--           <ng-container matColumnDef="invoicenotes">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Notes</mat-header-cell>
            <mat-cell *matCellDef="let row"> 
              <span *ngIf="row.invoicenotes != null">{{row.invoicenotes | capFilter}}</span>
              <span *ngIf="row.invoicenotes == null">&nbsp;</span>
            </mat-cell>
          </ng-container> -->

<!--           <ng-container matColumnDef="invoicetotal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
            <mat-cell *matCellDef="let row"> 
              <span>{{row.invoicetotal | number}}</span>
            </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="outwardpassnotes">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Notes</mat-header-cell>
            <mat-cell *matCellDef="let row"> 
              <span>{{row.outwardpassnotes}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="createdat">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
            <mat-cell *matCellDef="let row"> 
              <span>{{row.createdat | date:'short'}}</span>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row (click)="showOutwardPass(row)" *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator class="mat-body-1" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-card>
    </div>

</mat-sidenav-container>