<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashsettings"> 
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon> accounts
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashtransfers"> 
          <mat-icon mat-list-icon>compare_arrows</mat-icon> cash transfers
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
<!--   <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button> -->
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">
              Invoice Customer
            </h2>
            <h2 class="mat-caption mat-body-1">following is the invoice customer</h2>
            <hr>
            <div class="example-container customer-form">
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer Name" type="text" name="name" value="{{selectedInvoice?.invoicecustomer.name}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer Address" type="text" name="address" value="{{selectedInvoice?.invoicecustomer.address}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer Phone" type="text" name="phone" value="{{selectedInvoice?.invoicecustomer.phone}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer E-mail" type="text" name="email" value="{{selectedInvoice?.invoicecustomer.email}}">
              </mat-form-field>
            </div>       
          </mat-card>
        </div>
      </div>
      <div class="col-md-9">
        <mat-card>
          <h2 class="mat-title">Invoice #{{selectedInvoice?.invoicenumber}}
            <button mat-icon-button color="warn" matTooltip="Print!" (click)="goToPrint(selectedInvoice._id)">
              <mat-icon>print</mat-icon>
            </button>            
            <a routerLink="/invoice" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>
            </a>
            
          </h2>
          <h2 class="mat-caption mat-body-1">below are invoice details</h2>
          <hr *ngIf="selectedInvoice?.billno || selectedInvoice?.challanno">
          <div class="subtitles subheading-1 mt-5" *ngIf="selectedInvoice?.billno">{{"Bill #" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedInvoice?.billno}}</span>
          </div>
          <div class="subtitles subheading-1 mt-5" *ngIf="selectedInvoice?.challanno">{{"Voucher #" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedInvoice?.challanno}}</span>
          </div>
          <div class="subtitles subheading-1 mt-5">{{"Date" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" *ngIf="selectedInvoice?.invoicedate">{{selectedInvoice?.invoicedate | date:'shortDate'}}</span>
            <span class="mat-body-1 grand-total" *ngIf="!selectedInvoice?.invoicedate">{{selectedInvoice?._id | date:'shortDate'}}</span>
          </div>

          <hr>
          <table class="mat-body-1 table-no-border table-responsive table table-stripped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Qty</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Weight</th>
                <th>Calc Weight</th>
                <th>Price</th>
                <th>Store</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-cell" *ngFor="let product of selectedInvoice?.invoiceproducts; let i=index;">
                <td>{{i+1}}</td>
                <td>{{product.cartquantity}}</td>
                <td>{{product.name}}</td>
                <td>{{product.categoryname}}</td>
                <td *ngIf="product.type === 'Weighted'">{{product.cartweight | number:'1.1-2'}}</td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td *ngIf="product.type === 'Weighted'">{{product.calcweight | number:'1.1-2'}}</td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td>{{product.cartprice | number:'1.1-2'}}</td>
                <td>{{product.cartstores.name}}</td>
                <td>{{product.cartworth | number:'1.1-2'}}</td>
              </tr>

                
                <tr *ngIf="selectedInvoice?.othercharges">
                  <td colspan="9">
                    <mat-form-field class="example-full-width">
                      <textarea matInput disabled="true" value="{{selectedInvoice?.invoicenotes}}" placeholder="Invoice Notes"></textarea>
                    </mat-form-field>
                  </td>
                </tr>
                
                <tr *ngIf="selectedInvoice?.othercharges">
                  <td colspan="9">
                    <div class="price">
                      Other Charges:- <strong class="grand-total">{{selectedInvoice?.othercharges | number}}</strong>
                    </div>
                  </td>
                </tr>

                <tr *ngIf="selectedInvoice?.othercharges">
                  <td colspan="9">
                    <div class="price">
                      Cart Total:- <strong class="grand-total">{{selectedInvoice?.invoicetotal - selectedInvoice?.othercharges | number}}</strong>
                    </div>
                  </td>
                </tr>
                  
                <tr>
                  <td colspan="9">
                    <div class="price">
                      Grand Total:- <strong class="grand-total">{{selectedInvoice?.invoicetotal | number}}</strong>
                    </div>
                  </td>
                </tr>
<!-- 
              <tr *ngIf="!selectedInvoice?.othercharges">
                <td colspan="7">
                  <div class="pull-right price">
                    Grand Total:- <strong class="grand-total">{{selectedInvoice?.invoicetotal | number}}</strong>
                  </div>
                </td>
              </tr> -->


            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>

</mat-sidenav-container>


