.example-icon {
  padding: 0 14px;
}
.mat-title {
    font: 500 20px/32px "Josefin Sans","Helvetica Neue",sans-serif !important;
}
.mat-body-1 {
    font: 300 16px/20px "Josefin Sans","Helvetica Neue",sans-serif !important;
}
.mat-button {
    font: 500 16px/20px "Josefin Sans","Helvetica Neue",sans-serif !important;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-sidenav-fab-container {
  width: 100%;
  height: 678px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.mat-list-icon {
    color: #279BC9 !important;
}
.mat-list-item {
    padding: 0 30px 0 10px !important;
}
.mat-nav-list{
  text-align: left;
}
.example-sidenav-fab-container mat-sidenav {
  max-width: 220px;
  min-width: auto;
}
.example-container {
    position: relative;
}

.example-container .addpro-btn {
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container mat-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content,
.sidenav-content {
  overflow: auto;
  height: 100%;
}
.example-scrolling-content{
  padding: 30px;
}
.example-fab.mat-mini-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
.pull-right{
  float: right;
}

.table td, .table th {
    min-width: 80px;
    font-size: 10px;
    padding: 0.2rem; 
}