<mat-card>
  <h2 class="mat-title">{{selectedCustomer?.name | uppercase}}
    <a routerLink="/customers" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right"> 
      <mat-icon>arrow_back</mat-icon>
    </a>
  </h2>
  <h2 class="mat-caption mat-body-1">details of all debit/credit(s)</h2>
  <hr>
<!--   <div class="mat-body-1">
    <span class="mat-title" style="font-size: 15px !important;">{{"start date:" | uppercase}}&nbsp;</span>
    <span>{{selectedCustomer?._id | date:'fullDate' | uppercase}}</span>
  </div> -->
  <div class="mat-body-1">
    <span class="mat-title" style="font-size: 15px !important;">{{"Opening Balance:" | uppercase}}&nbsp;</span>
    <span>{{selectedCustomer?.openingbalance | number}}</span>
  </div>

  <div class="mat-body-1">
    <span class="mat-title" style="font-size: 15px !important;">{{"Closing balance:" | uppercase}}&nbsp;</span>
    <span>{{selectedCustomer?.closingbalance | number}}</span>
  </div>
  <div class="mat-body-1">
    <!-- <span class="mat-title" style="font-size: 15px !important;">{{"Closing balance:" | uppercase}}&nbsp;</span> -->
    <!-- {{selectedCustomer?.status}} -->
    <span *ngIf="selectedCustomer?.status === 'debit'">
      <mat-chip-list>
        <mat-chip color="default" selected="true">{{"Debit" | uppercase}}</mat-chip>
      </mat-chip-list>
    </span>
    <span *ngIf="selectedCustomer?.status === 'credit'">
      <mat-chip-list>
        <mat-chip color="primary" selected="true">{{"Credit" | uppercase}}</mat-chip>
      </mat-chip-list>
    </span>
  </div>

  <hr>
  <table class="mat-body-1 table-no-border table table-stripped table-hover">
    <thead>
      <tr>
        <th>Ref. Date</th>
        <th>Ref. Type</th>
        <th>Ref. #</th>
        <th>Voucher #</th>
        <th>Bill #</th>
        <th>Ref. Acc.</th>
        <th>Notes</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Closing Balance</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allDebitCredits;">

        <td>{{item.dcrefdate | date:'shortDate'}}</td>

        <td>{{item.dctype | capFilter}}</td>
        <td>{{item.dcref}}</td>
        <td>{{item.voucherno ? item.voucherno : item.challanno ? item.challanno : 'NA'}}</td>
        <td>{{item.billno ? item.billno : 'NA'}}</td>
        <td *ngIf="!item.dcrefname">&nbsp;</td>
        <td *ngIf="item.dcrefname">{{item.dcrefname | capFilter}}</td>  
        <td *ngIf="item.notes">{{item.notes}}</td>
        <td *ngIf="!item.notes">&nbsp;</td>
        <td *ngIf="item.debit !== null">{{item.debit | number:'1.1-2'}}</td>
        <td *ngIf="item.debit === null">&nbsp;</td>
        <td *ngIf="item.credit !== null">{{item.credit | number:'1.1-2'}}</td>
        <td *ngIf="item.credit === null">&nbsp;</td>
        
        <td>{{item.closingbalance | number:'1.1-2'}}</td>
        <td *ngIf="item.status === 'credit'">Credit</td>
        <td *ngIf="item.status === 'debit'">Debit</td>
      </tr>
    </tbody>
  </table>


<!--   <mat-table [dataSource]="dataSource2" matSort class="mat-body-1">

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span>{{row.refdate | date:'shortDate'}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.dctype}}</mat-cell>
    </ng-container>



    <ng-container matColumnDef="refnumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ref. #</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.refnumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="voucherno">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher #</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        {{row.refvoucherno}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="billno">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Bill #</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        {{row.refbillno}}
      </mat-cell>
    </ng-container>



    <ng-container matColumnDef="refacc">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ref. Acc.</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <span>{{row.refacc}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="notes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Notes</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <span>{{row.notes}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="debit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Debit</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <span>{{row.debit | number}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="credit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Credit</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <span>{{row.credit | number}}</span>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="closing">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Closing</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <span>{{row.closing | number}}</span>
      </mat-cell>
    </ng-container>



    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <span *ngIf="row.status === 'debit'">
          <mat-chip-list>
            <mat-chip color="default" selected="true">{{"Debit" | uppercase}}</mat-chip>
          </mat-chip-list>
        </span>
        <span *ngIf="row.status === 'credit'">
          <mat-chip-list>
            <mat-chip color="primary" selected="true">{{"Credit" | uppercase}}</mat-chip>
          </mat-chip-list>
        </span>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns2;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
  </mat-table> -->
</mat-card>