<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <!-- <button mat-icon-button *ngIf="sidenav.open()" (click)="sidenav.toggle()"><mat-icon>arrow_back</mat-icon></button> -->
  
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashsettings"> 
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon> accounts
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashtransfers"> 
          <mat-icon mat-list-icon>compare_arrows</mat-icon> cash transfers
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>
<!--   <button mat-mini-fab class="example-fab mat-button" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button> -->
  <mat-grid-list cols="12">
    <div class="example-scrolling-content">
<!--       Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce
      vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
      neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
      Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
      cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
      sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
      erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh
      ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien
      consectetuer. -->
      <div class="row">
        <div class="col-md-6">
          <mat-card>
            <!-- <h5 class="mat-title"></h5> -->
            <mat-list>
              <h4 mat-subheader>Pending Accounts</h4>
              <mat-divider></mat-divider>
              <mat-list-item *ngFor="let item of allAccounts" class="homelist mat-body-1">
                <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                <h4 mat-line class="mat-title">{{item.name | uppercase}}</h4>
                <p mat-line class="list-line"><mat-icon>account_circle</mat-icon> {{item.customer.name | capFilter}} </p>
                <p mat-line [ngClass]="{'active': item.notice <= 0, 'list-line': true}"><mat-icon>alarm</mat-icon> {{item.expirydate | date}} </p>
              </mat-list-item>
<!--               <mat-list-item *ngFor="let note of notes">
                <mat-icon mat-list-icon>note</mat-icon>
                <h4 mat-line>{{note.name}}</h4>
                <p mat-line> {{note.updated | date}} </p>
              </mat-list-item> -->
              <button (click)="goToAccounts()" mat-button color="primary" class="mt-20"><mat-icon>search</mat-icon>VIEW ALL</button>
            </mat-list>
          </mat-card>
        </div>
        <div class="col-md-6">
          <mat-card>
            <!-- <h5 class="mat-title"></h5> -->
            <mat-list>
              <h3 mat-subheader>Profit & Loss Account</h3>
              <mat-divider></mat-divider>
              <mat-list-item class="mat-body-1">
                <mat-icon mat-list-icon>receipt</mat-icon>
                <p mat-line>Net Sales</p>
                <h4 mat-line>{{totalInvoice | number:'1.1-2'}}</h4>
              </mat-list-item>
              <mat-list-item class="mat-body-1">
                <mat-icon mat-list-icon>payment</mat-icon>
                <p mat-line> Net Purchases</p>
                <h4 mat-line>{{totalPurchases | number:'1.1-2'}}</h4>
              </mat-list-item>
              <mat-list-item class="mat-body-1">
                <mat-icon mat-list-icon>store</mat-icon>
                <p mat-line>Net Stock</p>
                <h4 mat-line>{{totalStockValue | number:'1.1-2'}}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item class="mat-body-1">
                <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
                <p mat-line>Gross Profit</p>
                <h4 mat-line>{{totalInvoice - totalPurchases - totalStockValue | number:'1.1-2'}}</h4>
              </mat-list-item>

            </mat-list>

          </mat-card>
        </div>

      </div>
    </div>
  </mat-grid-list>
</mat-sidenav-container>