<!--  -->
<!-- Invoice Template Header -->
<table style="width: 100%; border-collapse:collapse;">
  <tbody>
    <tr style="height: 35px;">
      <td style="border-bottom: 2px solid #000;">&nbsp;</td>
      <td style="border-bottom: 2px solid #000;">&nbsp;</td>
      <td style="padding: 11px 0; background: #000; color: #fff; width: 40%; font-size:12px;" colspan="2" rowspan="2" align="center" valign="center">
        <h3 style="margin-top: 0;text-transform: uppercase; font-size:20px;margin-bottom:4px; font-weight:normal;">DEWAN international</h3> Steel &amp; Pipes</td>
      <td style="border-bottom: 2px solid #000;">&nbsp;</td>
      <td style="border-bottom: 2px solid #000;">&nbsp;</td>
    </tr>
    <tr style="height: 35px;">
      <td style="border-top: 2px solid #000;">&nbsp;</td>
      <td style="border-top: 2px solid #000;">&nbsp;</td>
      <td style="border-top: 2px solid #000;">&nbsp;</td>
      <td style="border-top: 2px solid #000;">&nbsp;</td>
    </tr>
  </tbody>
</table>
<!-- Template Generic Header -->
<!-- <br>
<!-- Company Information -->
<br/>
<br/>
<table style="width: 100%; margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
<!--       <td style="width: 35%; height: 50px; background: #000; color: #fff;" colspan="2" rowspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL CUSTOMERS: {{allCustomers.length | number}}</td> -->
      <td style="border-bottom: 2px solid #000000; text-align: right; vertical-align: middle;" colspan="4">
        <h4 style="margin:0;padding:0;font-weight:normal;">ALL CUSTOMERS&nbsp;&nbsp;</h4>
      </td>
    </tr>
    <tr>
      <td style="text-align: right;" colspan="4">&nbsp;</td>
    </tr>
  </tbody>
</table>
<!-- Invoice Total Header-->
<br>
<!-- Invoice Main Header Tabke TH -->
<table style="border-color: #333333; font-size:10px; width: 100%; margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <th style="height: 30px; text-align: center;">Name</th>
      <th style="height: 30px; text-align: center;">Address</th>
      <th style="height: 30px; text-align: center;">Phone</th>
      <th style="height: 30px; text-align: center;">Opening</th>
      <th style="height: 30px; text-align: center;">Closing</th>
      <th style="height: 30px; text-align: center;">Status</th>
      <!-- <th style="height: 30px; text-align: center;">Calc. Weight</th> -->
      <!-- <th style="height: 30px; text-align: center;">Price</th> -->
      <!-- <th style="height: 30px; text-align: center;" width="100px">Total</th> -->
    </tr>
    <!-- Loop Items on each row-->
    <!-- Loop Items End for each row -->
    <tr *ngFor="let item of allCustomers">
      <td style="height: 40px; border: 1px solid #777; border-bottom:0;text-align: center;">{{item.name | capFilter}}</td>
      <!-- <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">&nbsp;</td> -->
      <td style="height: 40px; border: 1px solid #777; border-left:0;border-bottom:0;text-align: center;">{{item.address | capFilter}}</td>
      <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">{{item.phone}}</td>
      <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">{{item.openingbalance | number}}</td>
      <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">{{item.closingbalance | number}}</td>
      <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">{{item.status}}</td>
    </tr>
    <tr>
      <td style="height: 40px; text-align: center; border-right:1px solid #777;border-top:1px solid #777;" colspan="4" rowspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>    
    <tr>
      <td style="height: 40px; background:#000; color:#fff;  text-align: center; vertical-align: middle;">Total Debits</td>
      <td style="height: 40px; background:#000; color:#fff; text-align: center; vertical-align: middle;">{{totalDebits | number}}</td>
    </tr>
    <tr>
      <td style="height: 40px; background:#000; color:#fff;  text-align: center; vertical-align: middle;">Total Credits</td>
      <td style="height: 40px; background:#000; color:#fff; text-align: center; vertical-align: middle;">{{totalCredits | number}}</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
