<!-- <div *ngIf="showLoadingSpinner">
<mat-progress-bar
  [color]="color"
  [mode]="mode"
  [value]="value"
  [bufferValue]="bufferValue">
</mat-progress-bar>
<mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value">
    </mat-progress-spinner>
</div> -->
<router-outlet></router-outlet>

