.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.login-title {
    text-align: center;
    font-weight: 700;
}

.login-title span {
    font-weight: 500;
}

.login-card .logo {
    width: 100%;
    text-align: center;
}