<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <!-- <button mat-icon-button *ngIf="sidenav.open()" (click)="sidenav.toggle()"><mat-icon>arrow_back</mat-icon></button> -->
  
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashsettings"> 
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon> accounts
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashtransfers"> 
          <mat-icon mat-list-icon>compare_arrows</mat-icon> cash transfers
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>
<!--   <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button> -->
  
  <div class="example-scrolling-content mat-body-1" *ngIf="!accountDetailFlag">
    <div class="row">
      <div class="col-md-3 mb-20">
        <mat-card>
          <h2 class="mat-title">Add Account</h2>
          <h2 class="mat-caption mat-body-1">add a new account</h2>
          <hr>
          <form (ngSubmit)="addAccountType(addAccountTypeForm.value, $event)" [formGroup]="addAccountTypeForm" #myForm="ngForm">
            <div class="example-container">

              <mat-form-field>
                <mat-select (change)="accountTypeChange($event.value)" placeholder="Select Account Type" [formControl]="addAccountTypeForm.controls['accounttype']" formControlName="accounttype" ngDefaultControl>
                  <mat-option *ngFor="let value of allTypes" [value]="value.type">
                    {{value.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter Account Name" type="text" formControlName="name" [formControl]="addAccountTypeForm.controls['name']">
                <mat-error *ngIf="addAccountTypeForm.controls['name'].invalid">Name Is Required</mat-error>
              </mat-form-field>


              <mat-form-field class="example-full-width"  *ngIf="addAccountTypeForm.controls['accounttype'].value === 'parchi' || addAccountTypeForm.controls['accounttype'].value === 'post_dated_cheque' || addAccountTypeForm.controls['accounttype'].value === 'cheque' || addAccountTypeForm.controls['accounttype'].value === 'card'">
                <input matInput placeholder="Enter Customer" aria-label="State" [matAutocomplete]="auto2" [formControl]="addAccountTypeForm.controls['customer']">
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option (onSelectionChange)="selectCustomer(state)" *ngFor="let state of customerStates | async" [value]="state.name">
                    <span>{{ state.name }}</span> |
                    <small>{{state.address}}</small>
                  </mat-option>
                </mat-autocomplete>
              <mat-hint *ngIf="selectedCustomer != null">Selected Customer: {{selectedCustomer.name | uppercase}}</mat-hint>
              </mat-form-field>

              <mat-form-field class="example-full-width"  *ngIf="addAccountTypeForm.controls['accounttype'].value === 'post_dated_cheque' || addAccountTypeForm.controls['accounttype'].value === 'cheque'">
                <input matInput placeholder="Enter Bank Account" (keyup)="typingBankAccount($event)" aria-label="BankAccount" [matAutocomplete]="auto3" [formControl]="addAccountTypeForm.controls['banks']">
                <mat-autocomplete #auto3="matAutocomplete">
                  <mat-option (onSelectionChange)="selectBank(state)" *ngFor="let state of bankStates | async" [value]="state._id">
                    <span>{{ state.name }}</span> |
                    <!-- <small>{{state.address}}</small> -->
                  </mat-option>
                </mat-autocomplete>
                <mat-hint *ngIf="selectedBank != null">Selected Bank: {{selectedBank.name | uppercase}}</mat-hint>

              </mat-form-field>



              <mat-form-field  *ngIf="addAccountTypeForm.controls['accounttype'].value === 'parchi' || addAccountTypeForm.controls['accounttype'].value === 'post_dated_cheque' || addAccountTypeForm.controls['accounttype'].value === 'cheque' || addAccountTypeForm.controls['accounttype'].value === 'card'">
                <input matInput placeholder="Enter Reference Number" type="text" formControlName="refnumber" [formControl]="addAccountTypeForm.controls['refnumber']">
                <mat-error *ngIf="addAccountTypeForm.controls['refnumber'].invalid"><strong>Reference #</strong> Is Required</mat-error>
              </mat-form-field>


              <mat-form-field *ngIf="addAccountTypeForm.controls['accounttype'].value === 'bank'">
                <input matInput placeholder="Enter Account Number" type="text" formControlName="accountnumber" [formControl]="addAccountTypeForm.controls['accountnumber']">
                <mat-error *ngIf="addAccountTypeForm.controls['accountnumber'].invalid">Account Number Is Required</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Enter Opening Balance" type="number" formControlName="openingbalance" [formControl]="addAccountTypeForm.controls['openingbalance']">
                <mat-error *ngIf="addAccountTypeForm.controls['openingbalance'].invalid">Opening Balance Number Is Required</mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Select Balance Type" formControlName="obtype" [formControl]="addAccountTypeForm.controls['obtype']" ngDefaultControl>
                  <mat-option *ngFor="let item of balanceTypes" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" *ngIf="addAccountTypeForm.controls['accounttype'].value === 'parchi' || addAccountTypeForm.controls['accounttype'].value === 'post_dated_cheque' || addAccountTypeForm.controls['accounttype'].value === 'cheque' || addAccountTypeForm.controls['accounttype'].value === 'card'">
                <input formControlName="expirydate" [formControl]="addAccountTypeForm.controls['expirydate']" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <button [disabled]="!addAccountTypeForm.valid" mat-raised-button type="submit" color="primary">
                <mat-icon>add</mat-icon> <span>Add</span>
              </button>
            </div>          
          </form>
        </mat-card>
      </div>
      <div class="col-md-9">
        <mat-card>
          <h2 class="mat-title">Accounts 
            <a *ngIf="authUser._id === 'admin'" routerLink="/admindashboard" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>   
            </a>
            <a *ngIf="authUser._id === 'deo'" routerLink="/deodashboard" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>   
            </a>

          </h2>
          <h2 class="mat-caption mat-body-1">list of all accounts</h2>
          <hr>

          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>

          <mat-table [dataSource]="dataSource" matSort class="mat-body-1">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="voucherno">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher #</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.voucherno}}</mat-cell>
            </ng-container>


            <!-- Customer Column -->
            <ng-container matColumnDef="customername">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Customer</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.customername}}</mat-cell>
            </ng-container>



            <!-- Opening Balance Column -->
            <ng-container matColumnDef="openingbalance">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Opening</mat-header-cell>
              <mat-cell *matCellDef="let row" class="grand-total">{{row.openingbalance | number}}</mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span *ngIf="row.status === 'debit'">
                  <mat-chip-list>
                    <mat-chip color="default" selected="true">{{"Debit" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span> 
                <span *ngIf="row.status === 'credit'">
                  <mat-chip-list>
                    <mat-chip color="default" selected="true">{{"credit" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span> 
                <span *ngIf="row.status === 'process'">
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{"updated" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span> 
                <span *ngIf="row.status === 'pending'">
                  <mat-chip-list>
                    <mat-chip color="accent" selected="true">{{"pending" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span> 

              </mat-cell>
            </ng-container>

            <!-- Closing balance Column -->
            <ng-container matColumnDef="closingbalance">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Closing</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span class="grand-total" *ngIf="row.closingbalance !== null">{{row.closingbalance | number}}</span>
                <span *ngIf="row.closingbalance === null">&nbsp;</span> 
              </mat-cell>
            </ng-container>


            <!-- Account Type Column -->
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span *ngIf="row.type === 'card'">
                  <mat-chip-list>
                    <mat-chip color="warn" selected="true">{{"Card" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
                <span *ngIf="row.type === 'parchi'">
                  <mat-chip-list>
                    <mat-chip color="warn" selected="true">{{"Parchi" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>  
                <span *ngIf="row.type === 'cheque'">
                  <mat-chip-list>
                    <mat-chip color="warn" selected="true">{{"Cheq." | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>  
                <span *ngIf="row.type === 'post_dated_cheque'">
                  <mat-chip-list>
                    <mat-chip color="warn" selected="true">{{"PDC" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>  
                <span *ngIf="row.type === 'bank'">
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{"Bank" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>  
                <span *ngIf="row.type === 'cash'">
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{"Cash" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>  
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="showSubAccounts(row)" *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator class="mat-body-1" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>