<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard">
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard">
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products">
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice">
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase">
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings">
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers">
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass">
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass">
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt">
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment">
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn">
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn">
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashsettings">
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon> accounts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashtransfers">
          <mat-icon mat-list-icon>compare_arrows</mat-icon> cash transfers
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-4">
        <mat-card *ngIf="((accounttype === 'parchi' || accounttype === 'card' || accounttype === 'cheque' || accounttype === 'post_dated_cheque') && selectedAccount.remainbalance !== 0)">
          <h2 class="mat-title">Add Reference Account</h2>
          <h2 class="mat-caption mat-body-1">Add new reference account</h2>
          <hr>
          <form (ngSubmit)="addSubAccount(addAccountTypeForm.value)" [formGroup]="addAccountTypeForm" #myForm="ngForm">
            <div class="example-container">
              <mat-form-field>
                <input matInput formControlName="name" type="text" [formControl]="addAccountTypeForm.controls['name']" placeholder="Enter Account Name">
                <mat-error *ngIf="addAccountTypeForm.controls['name'].invalid"><strong>Name</strong> Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select (change)="accountTypeChange($event.value)" placeholder="Select Account Type" [formControl]="addAccountTypeForm.controls['accounttype']" formControlName="accounttype" ngDefaultControl>
                  <mat-option *ngFor="let value of allTypes" [value]="value.type">
                    {{value.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="refnumber" type="text" [formControl]="addAccountTypeForm.controls['refnumber']" placeholder="Enter Reference Numebr">
                <mat-error *ngIf="addAccountTypeForm.controls['refnumber'].invalid"><strong>Reference Number</strong> Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="expirydate" [formControl]="addAccountTypeForm.controls['expirydate']" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="addAccountTypeForm.controls['expirydate'].hasError('required')"><strong>Date</strong> Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="number" (keyup)="checkRemainBalance($event)" matInput formControlName="openingbalance" [formControl]="addAccountTypeForm.controls['openingbalance']" placeholder="Enter Opening Balance">
                <mat-error *ngIf="addAccountTypeForm.controls['openingbalance'].invalid"><strong>Opening Balance</strong> Is Required</mat-error>
              </mat-form-field>
              <mat-hint *ngIf="balanceCheckFlag === true">Balance Must be less than or equal to account balance</mat-hint>
              <button [disabled]="!addAccountTypeForm.valid || balanceCheckFlag === true" mat-raised-button color="primary">
                <mat-icon>add</mat-icon><span>Add</span>
              </button>
            </div>
          </form>
        </mat-card>
      </div>
      <div [ngClass]="{'col-md-12': selectedAccount?.remainbalance === 0 || accounttype === 'bank'|| accounttype === 'cash', 'col-md-8': true}">
        <mat-card *ngIf="((accounttype === 'parchi' || accounttype === 'card' || accounttype === 'cheque' || accounttype === 'post_dated_cheque'))">
          <h2 class="mat-title">{{selectedAccount?.name | uppercase}}  
            <button mat-icon-button color="primary" matTooltip="Print!" (click)="goToPrint()">
              <mat-icon>print</mat-icon>
            </button>
            <button mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </h2>
          <h2 class="mat-caption mat-body-1">details of selected account</h2>
          <hr>
          <div class="subheading-1 subtitles mb-5">{{"Customer" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.customer.name | capFilter}}</span>
          </div>
          <div class="subheading-1 subtitles">{{"Opening Balance" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.openingbalance | number}}</span>
          </div>
          <div class="subheading-1 subtitles mt-5">{{"closing Balance" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{selectedAccount?.remainbalance | number}}</span>
          </div>
          <div class="subheading-1 subtitles mt-5">{{"Due Date" | uppercase}}:&nbsp;
            <span class="mat-body-1">{{selectedAccount?.expirydate | date:'fullDate' | capFilter}}</span>
          </div>
          <div class="subheading-1 subtitles mt-5" *ngIf="selectedAccount?.voucherno">{{"voucher #" | uppercase}}:&nbsp;
            <span class="mat-body-1">{{selectedAccount?.voucherno | capFilter}}</span>
          </div>
          <mat-chip-list *ngIf="selectedAccount?.expirystatus === 'process'">
            <mat-chip matTooltip="Acc. is updated!" class="mt-20" color="warn" selected="true">Updated</mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="selectedAccount?.expirystatus === 'pending'">
            <mat-chip matTooltip="Acc. is pending!" class="mt-20" color="accent" selected="true">Pending</mat-chip>
          </mat-chip-list>
          <hr>
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <mat-table [dataSource]="dataSource" matSort class="mat-body-1">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.name | capFilter}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="customername">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Customer</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.customername}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="openingbalance">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Opening</mat-header-cell>
              <mat-cell *matCellDef="let row" class="grand-total">{{row.openingbalance | number}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.status === 'debit'">
                  <mat-chip-list>
                    <mat-chip color="default" selected="true">{{"Debit" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
                <span *ngIf="row.status === 'credit'">
                  <mat-chip-list>
                    <mat-chip color="default" selected="true">{{"credit" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
                <span *ngIf="row.status === 'process'">
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{"updated" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
                <span *ngIf="row.status === 'pending'">
                  <mat-chip-list>
                    <mat-chip color="accent" selected="true">{{"pending" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="closingbalance">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Closing</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="grand-total" *ngIf="row.closingbalance !== null">{{row.closingbalance | number}}</span>
                <span *ngIf="row.closingbalance === null">&nbsp;</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.type === 'card'">
                  <mat-chip-list>
                    <mat-chip color="warn" selected="true">{{"Card" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
                <span *ngIf="row.type === 'parchi'">
                  <mat-chip-list>
                    <mat-chip color="warn" selected="true">{{"Parchi" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
                <span *ngIf="row.type === 'cheque'">
                  <mat-chip-list>
                    <mat-chip color="warn" selected="true">{{"Cheque" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
                <span *ngIf="row.type === 'post_dated_cheque'">
                  <mat-chip-list>
                    <mat-chip color="warn" selected="true">{{"PD Cheque" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
                <span *ngIf="row.type === 'bank'">
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{"Bank" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
                <span *ngIf="row.type === 'cash'">
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{"Cash" | uppercase}}</mat-chip>
                  </mat-chip-list>
                </span>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="showSubAccounts(row)" *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator class="mat-body-1" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card>
        <mat-card class="mt-20" *ngIf="((accounttype === 'parchi' || accounttype === 'card' || accounttype === 'cheque' || accounttype === 'post_dated_cheque'))">
          <h2 class="mat-title">Bank/Cash Payments</h2>
          <h2 class="mat-caption mat-body-1">List of all bank/cash payments</h2>
          <hr>
          <table *ngIf="allRefAccountPayment.length != 0" class="mat-body-1 table-no-border table-stripped table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Bank/Cash Account</th>
                <th>Amount Paid</th>
              </tr>
            </thead>
            <tbody *ngIf="selectedAccount.obtype === 'Debit'">
              <tr *ngFor="let item of allRefAccountPayment; let i=index;">
                <td>{{i + 1}}</td>
                <td>{{item.receiptaccount.name}}</td>
                <td class="grand-total">{{item.receiptamount | number}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="selectedAccount.obtype === 'Credit'">
              <tr *ngFor="let item of allRefAccountPayment; let i=index;">
                <td>{{i + 1}}</td>
                <td>{{item.paymentaccount.name}}</td>
                <td class="grand-total">{{item.paymentamount | number}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card>
        <mat-card *ngIf="accounttype === 'cash' || accounttype === 'bank'">
          <h2 class="mat-title">{{accountDetail?.name | uppercase}}
            <button mat-icon-button color="warn" matTooltip="Print!" (click)="goToPrint()"><mat-icon>print</mat-icon></button>
            <a href="#/cashsettings" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right"> 
              <mat-icon>arrow_back</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">details of all debit/credit(s)</h2>
          <hr>
          <div class="subheading-1 subtitles mb-5">{{"Opening Balance" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{accountDetail?.openingbalance | number}}</span>
          </div>
          <div class="subheading-1 subtitles mb-5">{{"Closing Balance" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total">{{accountDetail?.closingbalance | number}}</span>
          </div>
          <div class="subheading-1 subtitles mb-5">
            <span *ngIf="accountDetail?.status === 'debit'">
                <mat-chip-list>
                  <mat-chip color="default" selected="true">{{"Debit" | uppercase}}</mat-chip>
                </mat-chip-list>
              </span>
            <span *ngIf="accountDetail?.status === 'credit'">
                <mat-chip-list>
                  <mat-chip color="primary" selected="true">{{"credit" | uppercase}}</mat-chip>
                </mat-chip-list>
              </span>
          </div>
          <hr>
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <mat-table [dataSource]="dataSource2" matSort class="mat-body-1">
            <ng-container matColumnDef="customername">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Cust./Acc.</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.customername}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="debit">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Debit</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.debit | number}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="dctype">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Ref. Type</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.dctype | capFilter}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="dcref">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Ref. #</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.dcref}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="credit">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Credit</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.credit | number}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="voucherno">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher #</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.voucherno}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="notes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Notes</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.notes}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="openingbalance">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Opening</mat-header-cell>
              <mat-cell *matCellDef="let row" class="grand-total">{{row.openingbalance | number}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.status === 'debit'">
                <mat-chip-list>
                  <mat-chip color="default" selected="true">{{"Debit" | uppercase}}</mat-chip>
                </mat-chip-list>
              </span>
                <span *ngIf="row.status === 'credit'">
                <mat-chip-list>
                  <mat-chip color="primary" selected="true">{{"credit" | uppercase}}</mat-chip>
                </mat-chip-list>
              </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="closingbalance">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Closing</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="grand-total" *ngIf="row.closingbalance !== null">{{row.closingbalance | number}}</span>
                <span *ngIf="row.closingbalance === null">&nbsp;</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <!-- <button mat-icon-button color="warn" matTooltip="Print!" (click)="goToPrint(row)"><mat-icon>print</mat-icon></button> -->
                <button mat-icon-button color="warn" matTooltip="Delete!" (click)="openDeleteDialog(row)"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="datetime">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date/Time</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="!row.transferdate">{{row.datetime | date:'shortDate'}}</span>
                <span *ngIf="row.transferdate">{{row.transferdate | date:'shortDate'}}</span>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns2;">
            </mat-row>
          </mat-table>
          <mat-paginator class="mat-body-1" #paginator2 [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100, 1000]"></mat-paginator>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>
