    <mat-card>
      <h2 class="mat-title">Add Customer 
      </h2>
      <h2 class="mat-caption mat-body-1">Add a new customer</h2>
      <form [formGroup]="addCustomerForm" (ngSubmit)="addCustomer(addCustomerForm.value)" >
        <div class="example-container">
          
          <mat-form-field>
            <input matInput placeholder="Name" type="text" formControlName="name" [formControl]="addCustomerForm.controls['name']">
            <mat-error *ngIf="addCustomerForm.controls['name'].invalid"><strong>Name</strong> Is Required</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Address" type="text" formControlName="address" [formControl]="addCustomerForm.controls['address']">
            <mat-error *ngIf="addCustomerForm.controls['address'].invalid">Address Is Required</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email" [formControl]="addCustomerForm.controls['email']">
            <mat-error *ngIf="addCustomerForm.controls['email'].invalid">E-mail Is Required</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Phone" type="text" formControlName="phone" [formControl]="addCustomerForm.controls['phone']">
            <mat-error *ngIf="addCustomerForm.controls['phone'].invalid"><strong>Price</strong> Is Required</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Fax" type="text" formControlName="fax" [formControl]="addCustomerForm.controls['fax']">
            <mat-error *ngIf="addCustomerForm.controls['fax'].invalid"><strong>Fax</strong> Is Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Balance" type="number" formControlName="openingbalance" [formControl]="addCustomerForm.controls['openingbalance']">
            <mat-error *ngIf="addCustomerForm.controls['openingbalance'].invalid"><strong>Balance</strong> Is Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Balance Type" formControlName="obtype" [formControl]="addCustomerForm.controls['obtype']" ngDefaultControl>
              <mat-option *ngFor="let item of balanceTypes" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addCustomerForm.controls['obtype'].invalid"><strong>Type</strong> Is Required</mat-error>
          </mat-form-field>

          <button [disabled]="!addCustomerForm.valid" mat-raised-button color="primary"><mat-icon>add</mat-icon> Add</button>
          
        </div>
      </form>
    </mat-card>
<!--   </div>
</mat-sidenav-container> -->