<mat-card>
  <h2 class="mat-title">{{selectedItem?.name | uppercase}}</h2>
  <h2 class="mat-caption mat-body-1">Detail of all debits/credits</h2>
  <hr>
  <div style="width: 100%;display: flex;">
    <div style="width: 33%;display: inline;">  
      
      <div class="mat-body-1">
        <span class="mat-title inventoryledger">{{"Start Stock:" | uppercase}}&nbsp;</span>
        <span>{{selectedItem?.storeStocks | number}}</span>
      </div>
      <div class="mat-body-1">
        <span class="mat-title inventoryledger">{{"Current Stock:" | uppercase}}&nbsp;</span>
        <span>{{selectedItem?.stockvalue | number}}</span>
      </div>
    </div>
    <div style="width: 33%;display: inline;">
      <div class="mat-body-1">
        <span class="mat-title inventoryledger">{{"Weight:" | uppercase}}&nbsp;</span>
        <span>{{selectedItem?.weight | number}}</span>
      </div>
      <div class="mat-body-1">
        <span class="mat-title inventoryledger">{{"Price:" | uppercase}}&nbsp;</span>
        <span>{{selectedItem?.price | number}}</span>
      </div>
    </div>
    <div style="width: 33%;display: inline;">
      <div class="mat-body-1">
        <span class="mat-title inventoryledger">{{"net Weight:" | uppercase}}&nbsp;</span>
        <span>{{selectedItem?.stockvalue * selectedItem?.weight | number}}</span>
      </div>

      <div class="mat-body-1">
        <span class="mat-title inventoryledger">{{"net worth:" | uppercase}}&nbsp;</span>
        <span>{{selectedItem?.stockvalue * selectedItem?.weight * selectedItem?.price  | number}}</span>
      </div>
    </div>
  </div>
  <hr>
  <table class="mat-body-1 table-no-border table table-stripped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Date/Time</th>
        <th>Customer/Vendor</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Stock Value</th>
        <th>Ref. Type</th>
        <th>Ref. #</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allDebitCredits; let i=index;">
        <td>{{i+1}}</td>
        <td>{{item.createdat | date:'short'}}</td>
        <td *ngIf="item.customer">{{item.customer.name | capFilter}}</td>
        <td *ngIf="!item.customer">&nbsp;</td>
        <td *ngIf="item.debit === null">&nbsp;</td>
        <td *ngIf="item.debit !== null">{{item.debit | number}}</td>
        <td *ngIf="item.credit === null">&nbsp;</td>
        <td *ngIf="item.credit !== null">{{item.credit | number}}</td>
        <td>{{item.stockvalue | number}}</td>
        <td>{{item.dctype}}</td>
        <td>{{item.dcref}}</td>
      </tr>
    </tbody>
  </table>
</mat-card>